<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    
    <!--标题-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text">
        </div>
    </div>
    
    <!--收费方式-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Istoll')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[istoll]',$istoll,null,['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    
    <!--分类/标签-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('分类/标签')}:</label>
        <!--<div class="col-xs-6 col-sm-3">-->
        <!--    {:build_select('row[class]',$class,null,['class'=>'form-control', 'required'=>''])}-->
        <!--</div>-->
        <div class="col-xs-7 col-sm-4">
        <input id="c-class" data-rule="required" data-multiple="true" data-max-select-limit="2" data-order-by="id" data-source="water/Waterclass" class="form-control selectpage" name="row[class]" type="text" value="">
        </div>
        <div class="col-xs-5 col-sm-4">
            {:build_select('row[label]',$label,null,['label'=>'form-control', 'required'=>''])}
        </div>
    </div>

    <!--标签-->
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('Label')}:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        { :build_select('row[label]',$labels,null,['class'=>'form-control', 'required'=>''])}-->
    <!--    </div>-->
    <!--</div>-->

    <!--发布者名称-->
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">-->
    <!--    </div>-->
    <!--</div>-->

    <!--发布者头像-->
    <!--    <div class="form-group">-->
    <!--        <label class="control-label col-xs-12 col-sm-2">{:__('Avator_image')}:</label>-->
    <!--        <div class="col-xs-12 col-sm-8">-->
    <!--            <div class="input-group">-->
    <!--                <input id="c-avator_image" data-rule="required" class="form-control" size="50" name="row[avator_image]" type="text" value="0">-->
    <!--                <div class="input-group-addon no-border no-padding">-->
    <!--                    <span><button type="button" id="plupload-avator_image" class="btn btn-danger plupload" data-input-id="c-avator_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avator_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>-->
    <!--                    <span><button type="button" id="fachoose-avator_image" class="btn btn-primary fachoose" data-input-id="c-avator_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
    <!--                </div>-->
    <!--                <span class="msg-box n-right" for="c-avator_image"></span>-->
    <!--            </div>-->
    <!--            <ul class="row list-inline plupload-preview" id="p-avator_image"></ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--        <label class="control-label col-xs-12 col-sm-2">{:__('Class')}:</label>-->
    <!--        <div class="col-xs-12 col-sm-8">-->
    
    <!--封面图-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Qia_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-qia_image" class="form-control" size="50" name="row[qia_image]"
                    type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-qia_image" class="btn btn-danger plupload"
                            data-input-id="c-qia_image"
                            data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false"
                            data-preview-id="p-qia_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-qia_image" class="btn btn-primary fachoose"
                            data-input-id="c-qia_image" data-mimetype="image/*" data-multiple="false"><i
                                class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-qia_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-qia_image"></ul>
        </div>
    </div>
    
    <!--描述内容-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Introduce')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[introduce]" cols="50"></textarea>
        </div>
    </div>

    <!--视频流连接-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Video')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-video" class="form-control" name="row[video]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <!--上传-->
                    <span><button type="button" id="plupload-video" class="btn btn-danger plupload"
                            data-input-id="c-video" data-mimetype="mp4" data-multiple="false"
                            data-preview-id="p-video"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!--选择-->
                    <span><button type="button" id="fachoose-video" class="btn btn-primary fachoose"
                            data-input-id="c-video" data-mimetype="mp4/*" data-multiple="false"><i
                                class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-video"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-video"></ul>
        </div>
    </div>

    <!--点赞量/踩数/浏览量/评论数-->
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('赞/踩/浏览/评论')}:</label>-->
    <!--    <div class="col-xs-3 col-sm-2">-->
    <!--        <input id="c-title" class="form-control" name="row[fabulous]" type="number" placeholder="点赞量">-->
    <!--    </div>-->

    <!--    <div class="col-xs-3 col-sm-2">-->
    <!--        <input id="c-title" class="form-control" name="row[stamp]" type="number" placeholder="踩数">-->
    <!--    </div>-->

    <!--    <div class="col-xs-3 col-sm-2">-->
    <!--        <input id="c-title" class="form-control" name="row[browse]" type="number" placeholder="浏览量">-->
    <!--    </div>-->

    <!--    <div class="col-xs-3 col-sm-2">-->
    <!--        <input id="c-title" class="form-control" name="row[comment]" type="number" placeholder="评论数">-->
    <!--    </div>-->
    <!--</div>-->
    
    <!--单独购买/有效期-->
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">{:__('单独购买/有效期')}:</label>-->
    <!--    <div class="col-xs-6 col-sm-3">-->
    <!--        <input id="c-watch_price" class="form-control" name="row[watch_price]" type="text" placeholder="单独购买价格">-->
    <!--    </div>-->
    <!--    <div class="col-xs-6 col-sm-5">-->
    <!--        <input id="c-watch_day" class="form-control" name="row[watch_day]" type="text" placeholder="单独购买有效期">-->
    <!--    </div>-->
    <!--</div>-->

    <!--追加评论-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">添加评论</label>
        <div class="col-xs-12 col-sm-9">
            <dl class="fieldlist skuAdd" data-name="skus" data-template="testtpl">
                <dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i>
                        {:__('Append')}</a></dd>
            </dl>
            <div>
            </div>
            <!--定义模板-->
            <script type="text/javascript" id="testtpl">
				<dd class="form-inline">
					<input type="text" name="comments[]" class="form-control" value="" size="10" placeholder="评论内容">
					</span>
					</div>
					<span class="msg-box n-right" for="t-image"></span>
					</div >
					<span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span> <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
				</dd >
            </script>

        </div>
    </div>
    <!--添加规格结束-->

    <!--添加时间-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss"
                data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    
    <!--提交时-->
    <!--自动输入分类为1（视频）-->
    <!--<input id="c-class" data-rule="required" class="form-control" name="row[class]" type="hidden" value="1">-->
    
    
    <!--默认自动输入通过状态为1（通过）-->
    <input id="c-class" data-rule="required" class="form-control" name="row[tong]" type="hidden" value="1">
    <!--默认自动输入发布人为1（后台）-->
    <input id="c-class" data-rule="required" class="form-control" name="row[status]" type="hidden" value="1">

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style>
    .fieldlist dd input:first-child {
        width: 368px;
    }
</style>