<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <!--用户名/性别-->
    <div class="form-group">
        <label for="c-username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-5 col-sm-4">
            <input id="c-username" class="form-control" name="row[username]" type="text" placeholder="用户名" value="">
        </div>
        <!--性别-->
        <div class="col-xs-5 col-sm-4">
            {:build_select('row[gender]',['0'=>'男','1'=>'女'], null, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    
    <!--手机号/密码-->
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-5 col-sm-4">
            <input id="c-mobile" class="form-control" name="row[mobile]" type="text" placeholder="手机号" value=""/>
        </div>
        <!--密码-->
        <div class="col-xs-5 col-sm-4">
            <input id="c-password" class="form-control" name="row[password]" type="text" placeholder="不修改密码请留空" value="">
        </div>
    </div>
    
    <!--邀请码/等级-->
    <div class="form-group">
        <label for="c-number" class="control-label col-xs-12 col-sm-2">{:__('Number')}:</label>
        <div class="col-xs-5 col-sm-4">
            <input id="c-number" class="form-control" name="row[number]" type="text" placeholder="邀请码" value="">
        </div>
        <!--等级-->
        <div class="col-xs-5 col-sm-4">
            {:build_select('row[level]',['0'=>'LV0.新手司机','1'=>'LV1.轿车司机','2'=>' LV2.老司机'], null, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    
    <!--积分/待审核积分-->
    <div class="form-group">
        <label for="c-integral" class="control-label col-xs-12 col-sm-2">{:__('Integral')}:</label>
        <div class="col-xs-5 col-sm-4">
            <input id="c-integral" class="form-control" name="row[integral]" type="text" placeholder="积分" value="" />
        </div>
        <!--待审核积分-->
        <div class="col-xs-5 col-sm-4">
            <input id="c-integral_examine" class="form-control" name="row[integral_examine]" type="text" placeholder="待审核积分" value="">
        </div>
    </div>
    
    <!--余额/个性签名-->
    <div class="form-group">
        <label for="c-money" class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-5 col-sm-4">
            <input id="c-money" class="form-control" name="row[money]" type="text" placeholder="余额" value="" />
        </div>
        <!--个性签名-->
        <div class="col-xs-5 col-sm-4">
            <input id="c-bio" class="form-control" name="row[bio]" type="text" placeholder="个性签名" value="">
        </div>
    </div>
    
    <!--关注数/粉丝数-->
    <div class="form-group">
        <label for="c-guanzhu" class="control-label col-xs-12 col-sm-2">{:__('Guanzhu')}:</label>
        <div class="col-xs-5 col-sm-4">
            <input id="c-guanzhu" class="form-control" name="row[guanzhu]" type="text" placeholder="关注数" value="" />
        </div>
        <!--粉丝数-->
        <div class="col-xs-5 col-sm-4">
            <input id="c-fensi" class="form-control" name="row[fensi]" type="text" placeholder="粉丝数" value="">
        </div>
    </div>
    
    <!--头像-->
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2">{:__('Avatar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="" class="form-control" size="50" name="row[avatar]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload" data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-avatar" class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>
    
    <!--背景图-->
    <div class="form-group">
        <label for="c-background" class="control-label col-xs-12 col-sm-2">{:__('Background')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-background" data-rule="" class="form-control" size="50" name="row[background]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-background" class="btn btn-danger plupload" data-input-id="c-background" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-background"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-background" class="btn btn-primary fachoose" data-input-id="c-background" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-background"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-background"></ul>
        </div>
    </div>
    
    <!--VIP到期时间-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('VIP到期时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[vip_time]" type="text" value="">
        </div>
    </div>
    
    <!--账户状态-->
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('正常'), 'hidden'=>__('禁封')], null)}
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
